* {
    margin: 0;
    padding: 0;
}

section {
    padding: 2rem 0;
}

#meme-image-container {
    box-sizing: content-box;
    padding: 0;
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
    width: 350px;
    height: 350px;
    background-color: white;
}

#meme-text, #bottext {
    text-shadow: 5px 5px 5px black;
    font-size: 30px;
    color: white;
    position: absolute;
    width: 300px;
    text-align:center;
    word-wrap: break-word;
    margin-left: 1.5rem;
    z-index: 1;
    
}

#bottext {
    top:65%;
    text-align: center;
}


.fire {
    border: 3px dashed red !important; 
    background-color: red !important;
    padding: -3px;
}

.water {
    border: 5px double blue !important;
    background-color: blue !important;
    padding: -5px;
}

.earth {
    border: 6px groove green !important;
    background-color: green !important;
}

.lib {
    border: 1px solid black
    
}
