body {
    text-align: center;
    background-color: blanchedalmond;
}

#chart {
    background-color: white;
    border: black 1px solid;
    margin: 0 auto;
    width: 1200;
    max-width: 1200;
}

#svg {
    min-width: 1100;
    max-width: 1200;
}

.bar {
    fill:salmon;
}
.bar:hover {
    fill:greenyellow;
}

#tooltip {
    /* visibility: hidden */
    display: block;
    position:absolute;
    top: 150px;
    left: 50%;
    background-color:gray;
    color: blueviolet;
    border: 1px solid black;
    height: 100px;
    width: 300px;
    margin: 0 auto;
}