body {
    text-align: center;
    background-color: blanchedalmond;
}

#chart {
    background-color: white;
    border: black 1px solid;
    margin: 0 auto;
    width: 1200;
    max-width: 1200;
}

#svg {
    min-width: 1100;
    max-width: 1200;
}

.bar {
    fill:salmon;
}
.bar:hover {
    fill:greenyellow;
}

#tooltip {
    display: block;
    position:absolute;
    top: 150px;
    text-align: center;
    font-size: 2rem;
    color:salmon;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}