* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}       

nav {
    position:fixed;
    top:0;
    left:0;
    display:flex;
    width: 100vw;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:2;
}
.navlist {
display:flex;
width: 33vw;
justify-content:space-between;
align-items:center;
margin-top:1rem;

}

.navlist a {
    margin-right:1rem;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: black;
    padding-left:1rem;
    transition: background-color 1s ease-in-out, border 1s ease-in-out, border-radius 1s ease-in-out, padding  1s ease-in-out;
    
}



#welcome-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:100vh;
    background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-family: monospace;
    font-size:3rem;
    text-shadow: 2px 2px greenyellow;
    border: transparent;
    transition: background-color 1s ease-in-out, border 1s ease-in-out, border-radius 1s ease-in-out, padding  1s ease-in-out;
}



#welcome-section p {
    text-shadow: 1px 1px greenyellow;
    margin-top: 1rem;
    text-align: center;
    border: transparent;
    transition: background-color 2s ease-in-out, border 2s ease-in-out, border-radius 2s ease-in-out, padding  2s ease-in-out;
}


h1:hover, #welcome-section p:hover, .navlist a:hover {
    background-color:greenyellow;
    border: 0.2rem red solid;
    border-radius: 50%;
    padding: 2rem;
}

main {
    display: flex;
    flex-direction:column;
    background: linear-gradient(35deg, greenyellow, #FFCCCC);
    align-items: center;
    

}

h2 {
    font-family: monospace;
    font-size:3rem;
    text-align: center;
    text-shadow: 2px 2px greenyellow;
}

.project-tile {
    width: 35vw;
    height: 35vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
    margin-bottom:0.3rem;
    }

.project-tile a {
    position:absolute;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: black;
    background: linear-gradient(35deg, #FFCCCC, greenyellow);
    border: 0.2rem red solid;
    border-radius: 50%;
    padding: 0.8rem;
    text-shadow: 2px 0px greenyellow, 2px 2px #FFCCCC


}


.project-tile img {
    height: 100%;
    width:100%;
    border:red solid 0.3rem;
}


footer {
bottom: 0;
display: flex;
flex-direction: column;
align-items: center;
height:100%;
background-image: url(https://images.unsplash.com/photo-1612416364638-753a3834455c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
background-attachment:fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


footer a{
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px greenyellow;
    text-align: center;
    border: transparent;
    transition: background-color 2s ease-in-out, border 2s ease-in-out, border-radius 2s ease-in-out, padding  2s ease-in-out;
    white-space: nowrap;
    margin-top: 0.5rem;
    

}
footer a:hover{
    background-color:greenyellow;
    border: 0.2rem red solid;
    border-radius: 50%;
    padding: 0 47%;
}


footer h2 {
    padding-top:0;
    transition: margin-top 2s ease-in-out;
}

footer h2:hover {
    margin-top: 2rem;
}

@media (max-width: 1000px) {
    .project-tile {
        width: 70%;
        height: 70%;
    }
}

@media (prefers-reduced-motion) {
    * {
        transition: none;       
    }
}